anyio==4.9.0
apscheduler==3.11.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
construct==2.8.8
gamdl==2.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
inquirerpy==0.3.4
m3u8==6.0.0
mutagen==1.47.0
pfzy==0.3.4
pillow==11.3.0
prompt-toolkit==3.0.51
protobuf==4.25.8
pycryptodome==3.23.0
pymp4==1.4.0
python-decouple==3.8
python-telegram-bot==22.2
pywidevine==1.8.0
pyyaml==6.0.2
requests==2.32.4
sniffio==1.3.1
tornado==6.5.1
typing-extensions==4.14.1
tzlocal==5.3.1
unidecode==1.4.0
urllib3==2.5.0
wcwidth==0.2.13
yt-dlp==2025.6.30
